@import "./styles/variables.scss";

.container {
  background-color: #fff;
  padding: $verticalPadding $horizontalPadding;
}

@media (max-width: 576px) {
  .container {
    margin: 0;
    width: 100%;
  }
}
